body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.row {
    height: 100px;
}

#palette .col {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    margin: 2px;
    color: white;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;
}
